<section class="relative bg-green">
  <div class="container flex justify-end flex-col md:flex-row">
    <div
      class="md:w-1/2 py-[13.5rem] text-gray flex justify-center flex-col gap-[7.2rem] pl-[8rem] lg:pl-[16rem] pr-[6.4rem]"
    >
      <div class="flex flex-col gap-[1.6rem]">
        <span class="leading-[150%] text-[1.2rem] tracking-[-0.12px]">
          O firmie</span
        >
        <div class="flex flex-col gap-[4rem]">
          <span
            class="leading-[115%] tracking-[-1.44px] text-[4.8rem] font-medium w-min"
            >Tworzymy z <span class="italic">pasją</span></span
          >
          <span class="max-w-[51rem]"
            >Każdy projekt to nowe wyzwanie. Dlatego nasz zespół tworzą
            wykwalifikowani projektanci oraz architekci, których zadaniem jest
            rozpoznanie i realizacja potrzeb każdego Klienta. Nasza
            specjalizacja to przestrzenie nowoczesne, które charakteryzuje
            minimalizm, geometria i elegancka prostota. Tworzymy ogrody
            małoobsługowe, dostosowane do współczesnego trybu życia.</span
          >
        </div>
      </div>

      <button
        data-componentName="Button"
        id="1"
        data-variant="secondary"
        data-color="white"
        class="flex gap-[0.8rem] justify-center items-center w-fit hover:gap-[1.4rem]"
      >
        Poznaj nas bliżej
        <div id="svgContainer" class="pointer-events-none h-min w-min"></div>
      </button>
    </div>
    <div class="md:absolute md:w-1/2 left-0 md:h-full">
      <img
        class="w-full h-full object-cover"
        src="../../../src/assets/images/garden-image-4.webp"
      />
    </div>
  </div>
  <script
    type="module"
    src="../../../dist/components/AboutCompany/index.js"
  ></script>
</section>
