<section class="bg-gray py-[6rem]">
  <div class="container px-[5rem] sm:px-[10rem] lg:px-[20rem]">
    <div
      class="cto-animate bg-green px-[5rem] sm:px-[11rem] py-[12rem] flex gap-[3.2rem] lg:gap-[6.4rem] text-gray lg:items-end flex-col lg:flex-row w-full"
    >
      <span
        class="leading-[120%] text-[3rem] lg:text-[4rem] font-medium font-second tracking-[-2px] cto-animate"
      >
        Zostańmy w kontakcie! Znajdziesz nas na
        <span class="italic font-sans tracking-[-1px]">Instagramie.</span>
      </span>
      <div class="flex flex-col gap-[2.4rem] lg:w-[35%]">
        <span class="tracking-[-0.16px]"
          >Śledź nasze najnowsze realizacje!</span
        >
        <button
          data-componentName="Button"
          data-variant="main"
          data-color="white"
        >
          Instagram
        </button>
      </div>
    </div>
  </div>

  <script
    type="module"
    src="../../../dist/components/CTOSection/index.js"
  ></script>
</section>
