<section
  class="bg-gray pt-[12rem] pb-[16rem] flex flex-col gap-[9.6rem] items-center text-black"
>
  <div class="flex flex-col gap-[1.6rem] px-[3rem] md:px-0">
    <span class="text-green text-[1.2rem] leading-[150%] tracking-[-0.16px]"
      >Oferta</span
    >
    <span class="leading-[115%] text-[4.8rem] tracking-[-1.44px] font-medium"
      >Działamy <span class="tracking-normal italic">kompleksowo</span></span
    >
    <span class="leading-[150%]">
      Oferujemy kompletną obsługę inwestycji terenów zielonych. Projektujemy
      nowoczesne ogrody<br />
      przydomowe oraz rezydencjonalne. Stworzymy dla Ciebie projekt,
      zwizualizujemy go i wcielimy <br />w życie, a na każdym etapie posłużymy
      radą i wieloletnim doświadczeniem.
    </span>
  </div>
  <div
    class="px-[8.9rem] flex gap-[1rem] md:gap-[4rem] justify-center 2xl:gap-[6.4rem] flex-wrap"
    id="cardsWrapper"
  ></div>
  <script type="module" src="../../../dist/components/Offer/index.js"></script>
</section>
