<footer class="bg-black py-[8rem]">
  <div
    class="container px-[10rem] lg:px-[20rem] flex flex-col gap-[6rem] md:gap-[12rem] items-center text-white leading-[150%] tracking-[-0.16px]"
  >
    <div class="flex flex-col gap-[6.2rem] w-full">
      <div class="flex justify-between items-center flex-wrap">
        <div id="giardDesignLogo" class="pointer-events-none h-min w-min"></div>
        <div class="flex gap-[2.4rem] items-center flex-wrap">
          <span>Daj znać, co możemy dla Ciebie zrobić!</span>
          <button
            data-componentName="Button"
            data-variant="main"
            data-color="green"
          >
            Skontaktuj się z nami
          </button>
        </div>
      </div>
      <hr class="h-[1px] w-full" />
      <div class="flex justify-between text-[1.4rem] flex-wrap gap-[2rem]">
        <div class="flex gap-[2rem] sm:gap-[4rem] xl:gap-[4.8rem] flex-wrap">
          <a href="#" rel="noopener noreferrer" target="_blank">Kontakt</a>
          <a
            href="https://instagram.com"
            rel="noopener noreferrer"
            target="_blank"
            >Instagram</a
          >
          <a
            href="https://facebook.com"
            rel="noopener noreferrer"
            target="_blank"
            >Facebook</a
          >
          <a
            href="https://linkedin.com"
            rel="noopener noreferrer"
            target="_blank"
            >LinkedIn</a
          >
        </div>
        <div class="flex flex-wrap xl:flex-nowrap gap-[2rem] xl:gap-[4.8rem]">
          <a href="tel:000000000">000-000-000</a>
          <a href="mailto:giarddesign@kontakt.pl">giarddesign@kontakt.pl</a>
        </div>
      </div>
    </div>
    <div class="flex justify-between w-full flex-wrap">
      <span class="">Prawa zastrzeżone © 2022</span>
      <div class="flex gap-[1.6rem]">
        made by
        <div id="adRespectLogo" class="pointer-events-none h-min w-min"></div>
      </div>
    </div>
  </div>
  <script type="module" src="../../../dist/components/Footer/index.js"></script>
</footer>
